{% extends 'options/options_base.html' %}
<!-- load the custom filter -->
{% load options_filters %}
{% load staticfiles %}

{% block content %}
	<!-- form -->
	<div class="col-lg-4 col-md-6">
		<form id="option_form" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input class="btn btn-dark" type="submit" name="Add Option">
		</form>
	</div>

	<!-- Chart -->
	<div class="col-lg-8 col-md-6 chart-container">
		<canvas id="option_chart"></canvas>
		<input id="contractCheckbox" type="checkbox" name="full-contract">
		<label class="helptext" style="display:inline;" for="full-contract">Contract / Single Option </label>
		<p class="helptext">Contract based on 100 options</p>
	</div>
	<!-- Ticker Tabs and Data Table -->
	<div class="data-table">
		<div class="data-table-headers">
			<div class="ticker-tab">GENERIC OPTION</div>
		{% for ticker in all_tickers %}
			{% if ticker != "GENERIC OPTION"%}
				<div class="ticker-tab">{{ticker}}</div>
			{% endif %}
		{% endfor %}
		</div>
			{% include 'options/_option_detail_table.html' %}
		</div>
	</div>
	<p class="helptext">** Greeks and Implied Volatility calculated using Black Scholes</p>
	{% endblock %}

	{% block script_block %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="{% static 'js/option_payoff.js' %}"></script>
	<script src="{% static 'js/options_master.js' %}"></script>
	<script src="{% static 'js/ticker_request.js' %}"></script>
	{% endblock %}
