{% extends 'options/options_base.html' %}
<!-- load the custom filter -->
{% load options_filters %}
{% load staticfiles %}


{% block content %}
	<!-- form -->
	<div class="col-lg-4 col-md-6">
		<form id="option_form" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input class="btn btn-dark" type="submit" name="Add Option">
		</form>
	</div>

	<!-- Chart -->
	<div class="col-lg-8 col-md-6 chart-container">		
		<canvas id="option_chart"></canvas>
	</div>

	<!-- passes data variables to js -->
	{% if payoff %}
	<script type="text/javascript">
		var payoff = JSON.parse("{{payoff}}".replace(/(&quot\;)/g,"\""));
	</script>
	{% else %}
	<script type="text/javascript">
		var payoff = [{x:0, y:0},]
	</script>
	{% endif %}
	
	<!-- Table full of Greek information -->
	{% if model %}
	<div class="col-md-12">
		<table id='greeks'>
			<thead>
				<th>Position</th>
				<th>Type</th>
				<th>Strike Price</th>
				<th>Stock Price</th>
				<th>Option Price</th>
				<th>Interest rate</th>
				<th>Days Till Expiration</th>
				<th>Implied Volatility</th>
				<th>Delta</th>
				<th>Gamma</th>
				<th>Vega</th>
				<th>Theta</th>
				<th>Rho</th>

			</thead>
			<tbody>
				{% for option in model %}
				<tr>
					{% if option.position == 1 %}
					<td>Long</td>
					{% else %}
					<td>Short</td>
					{% endif %}
					<td>{{option.option_type}}</td>
					<td>{{option.strike_price}}</td>
					<td>{{option.stock_price}}</td>
					<td>{{option.traded_price}}</td>
					<td>{{option.interest_rate}}</td>
					<td>{{option.days_till_exp|multiply:365}}</td>
					<td>{{option.iv}}</td>
					<td>{{option.delta}}</td>
					<td>{{option.gamma}}</td>
					<td>{{option.vega}}</td>
					<td>{{option.theta}}</td>
					<td>{{option.rho}}</td>
					<td>
						<a class="btn btn-danger" href="{% url 'options:delete_option' pk=option.pk%}">Remove</a>
					</td>
				</tr>
				{% endfor%}
			</tbody>
		</table>
	</div>
	{% endif %}

	
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}
