/*
CHARLESTON GREEN: #262C2C
DARK IMPERIAL BLUE: #0E466D
TEAL BLUE: #396787
*/

#title{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
}

#option_form{
	margin-top: 50px;
	text-align: center;
}

form p {
	text-align: left;
}

.chart-container{
	margin-top: 50px;
	height:400px;
	width:400px;
}

.btn-dark{
	background-color: #0E466D;
}
.btn-dark:hover{
	/*lighter than the original*/
	background-color: #396787;
}

.errorlist{
	padding-left: 0;
	margin-bottom: 0;
}

.errorlist li{
	list-style-type: none;
	text-decoration: none;
	font-size: 10;
	color:red;
}

#greeks{
	font-size: 75%;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 20px;
	border-spacing:10px;

}

td, th {
	text-align: center;
	border-collapse: separate;
  border-spacing: 15px;
}
.chart-title{
	margin-top: 40px;
	text-align: center;
}

.Option-header{
	height: 50px;
	width:80px;
	background-color: #0E466D;
	color: white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.Option-data{
	height: 30px;
	width:100px;
	border-right:2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid #0E466D;
}

.helptext{
	font-size: .7em;
	display:block;
}

.data-table{
	margin-top: 20px;
}

.data-table-headers{
	background-color: grey;
	padding: 2px;
}

.ticker-tab{
	font-size: 80%;
	heigt: 30px;
	padding:5px;
	background-color: #0E466D;
	color: white;
	margin-left: 10px;
	display: inline;
}
.data-row{
	font-size: 80%;
}
.custom-btn{
	font-size: 50%;
	margin-bottom: 3px;
}
